html, body {
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #3c4238;
}
a:hover, a:active {
    color: #e51e6b;
}
/* tell the browsers that the elemets are flex */
.flex-container,
.flex-container header,
.flex-container footer {
    display: -webit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header, footer {
    padding: 1rem 0;
}

header {
    border-bottom: 1px solid #fff;
}
/* -------- FOOTER -------------- */
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
footer > ul > li {
    padding: 0 1em;
}

/* ------- Content ------------ */

.flex-container {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: 98vh;
    flex:1;
}
    .flex-content {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
.mailbox-list {
    flex-basis: 15%;
    -webkit-flex-basis: 15%;
    border-right: 1px solid #fff;
    padding-top: 2em;
}
    #filter div > a {
        text-transform: capitalize;
        display: block;
        margin-bottom: 10px;
    }
.add-contact {
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
}
    .add-contact a {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }
    #addContact {
        padding-left:15px;
        display: flex;
        -webkit-display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-wrap: wrap;
    }
    #addContact input,
    #addContact button {
        width: 90%;
    }
/* ------- FORMS --- */
label {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}
select,
input {
    margin-top:4px;
    margin-bottom: 4px;
    box-shadow: 0 0 0 1px #d9d9d9;
    border: 0;
    background-color: #fff;
    color: #333;
    padding: 0.5em;
    box-sizing: border-box;
}
select:focus,
input:focus {
    box-shadow: 0 0 0 2px #ea4c89;
    outline: none;
}
select {
    height: 30px;
}

button {
    margin-top: 1em;
    border: none;
    background: #ea4c89;
    color: #fff;
    padding: 8px 15px;
}
button:active {
    background-color:#ba1655;
}   
button:hover {
    background-color: #e51e6b;
}   
button:focus {
    outline: none;
}   


.mailbox-list {
    background:#eee;
    display: flex;
    justify-content: center;

}
.message-list {
    background:#ddd;
}

.message {
    display: flex;
    flex-basis: 77%;
    -webkit-flex-basis: 77%;
    overflow: scroll;
    -webkit-flex-direction: column;
    flex-direction:column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}
.flex-container header {
    align-items:center;
    justify-content: center;
}
.flex-container header,
.flex-container footer {
    width:100%;
    background: #444; 
    color: #fff;
}

.contact-container {
    border: 1px solid #ccc;
    position: relative;
    background: #f2f2f2;
    padding:15px;
    border-top: 0;
    border-right: 0;
    width: auto;
}
    
    .contact-container img {
        float: left;
        margin-right: 15px;
        border:1px solid #fff;
        box-shadow: 1px 1px 1px #ccc;
    }
    .contact-container h1 {
        font-size:20px;
        margin:0;
        padding:0;
        font-weight: normal;;
    }
    .contact-container span {
        display: block;
        font-size:10px;
        float:right;
    }
    .edit, .delete {
        float: right;
        margin-left: 5px;
    }
    .editContact {
        display: flex;
        -webkit-display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

.add-contact > div {
    display: none;
}
#filter div {
    padding-top: 10px;
}

